services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: crm_nh_promotora
      MYSQL_USER: root_db
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -p$$MYSQL_ROOT_PASSWORD"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  node:
    build: ./backend
    container_name: node_app
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - shared_uploads:/app/csvs_consulta_lote
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - app_network
  
  frontend:
    build: ./frontend
    container_name: react_app
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - node
    networks:
      - app_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10

  python_ms:
    build: ./python_ms
    container_name: python_ms
    volumes:
      - ./python_ms:/app
      - shared_uploads:/app/csvs_consulta_lote
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app_network

volumes:
  mysql_data:
  shared_uploads: 

networks:
  app_network:
    driver: bridge
