.app-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center; /* CENTRALIZA */
  background: #F5F7FA;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid #F5F7FA;
}